In [5]:
import pandas as pd
airlines = pd.read_csv('airlines.csv')
airports = pd.read_csv('airports.csv')

routes = pd.read_csv('routes.csv')
airlines.head(2)

   -1         Unknown  \N    -  N/A     \N.1           \N.2  Y
0   1  Private flight  \N    -  NaN      NaN            NaN  Y
1   2     135 Airways  \N  NaN  GNL  GENERAL  United States  N

In [6]:
airports.head(2)

,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081689834590001,145.391998291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.20708,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.82679,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports

In [7]:
routes.head(2)

   2B  410  AER  2965  KZN  2990 Unnamed: 6  0  CR2
0  2B  410  ASF  2966  KZN  2990        NaN  0  CR2
1  2B  410  ASF  2966  MRV  2962        NaN  0  CR2

In [8]:

import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap
m = Basemap(projection='merc', llcrnrlat=-80, urcrnrlat=80, llcrnrlon=-180, urcrnrlon=180)
longitudes = airports['longitude'].tolist()
latitudes = airports['latitude'].tolist()
x,y=m(longitudes,latitudes)

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'